%section#top-header.row
  %h1.col-md-2
    = link_to "MyFLiX"
  - if current_user
    %ul.col-md-4.clearfix
      %li= link_to "Videos", home_path
      %li= link_to "My Queue", my_queue_path
      %li= link_to "People", people_path
      %li= link_to "Advanced Search", advanced_search_videos_path
    = form_tag search_videos_path, method: "get", class: "col-md-5 navbar-form" do 
      = text_field_tag "search_term", nil, placeholder: "Search..."
      = submit_tag "Submit"
    #user_links.pull-right
      %ul
        %li.dropdown
          %a(href="#" id="dlabel" role="button" data-toggle="dropdown" class="dropdown-toggle" data-target="#")
            Welcome, #{current_user.username}
            %b.caret
          %ul.dropdown-menu(role="menu" aria-labelledby="dlabel")
            %li
              = link_to "Invite Friends", new_invitation_path
              = link_to "Account"
              = link_to "Plan and Billing"
              = link_to "Sign Out", logout_path, method: :post 
